
body {
    background-color: rgb(3, 86, 95);
}


.item_img {
    height: 250px;
    width: 300px;
}


#inventoryDiv {
    font-size: 25px;
}


#chestDiv {
    font-size: 25px;
}

.item {
    user-select: none;
}

.item:hover{
    color: aliceblue;
}

.item:active{
    color: rgb(81, 200, 87);
}
